<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanggu.stone.dao.PublishedContentMapper">
    <resultMap id="BaseResultMap" type="com.fanggu.stone.model.PublishedContent">
        <id column="published_content_id" jdbcType="INTEGER" property="publishedContentId" />
        <result column="category_id" jdbcType="INTEGER" property="categoryId" />
        <result column="publisher_id" jdbcType="INTEGER" property="publisherId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from published_content
        where published_content_id = #{publishedContentId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.fanggu.stone.model.PublishedContent">
        insert into published_content (published_content_id, category_id, publisher_id,
                                       title, image_path, position, content)
        values (#{publishedContentId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{publisherId,jdbcType=INTEGER},
                #{title,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{content,jdbcType=LONGVARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.fanggu.stone.model.PublishedContent">
        update published_content
        set category_id = #{categoryId,jdbcType=INTEGER},
            publisher_id = #{publisherId,jdbcType=INTEGER},
            title = #{title,jdbcType=VARCHAR},
            image_path = #{imagePath,jdbcType=VARCHAR},
            position = #{position,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            content = #{content,jdbcType=LONGVARCHAR}
        where published_content_id = #{publishedContentId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select published_content_id, category_id, publisher_id, title, image_path, position,
               create_time, update_time, content
        from published_content
        where published_content_id = #{publishedContentId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select published_content_id, category_id, publisher_id, title, image_path, position,
               create_time, update_time, content
        from published_content
    </select>
</mapper>